name: image

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@main
        with:
          image-name: netoffload
          push: ${{ github.event_name != 'pull_request' }}
