name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release
        with:
          release-type: go
          package-name: netoffload
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: ${{ steps.release.outputs.release_created }}
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: akhilerm/tag-push-action@f35ff2cb99d407368b5c727adbcc14a2ed81d509 # v2.2.0
        if: ${{ steps.release.outputs.release_created }}
        with:
          src: ghcr.io/vexxhost/netoffload:${{ steps.release.outputs.sha }}
          dst: |
            ghcr.io/vexxhost/netoffload:latest
            ghcr.io/vexxhost/netoffload:${{ steps.release.outputs.tag_name }}
